/* HOME PAGE SERVICE SECTION */
.card:not(:first-child) {
    background: #FCFDFF;
    color: black;
    padding-left: 1rem;
}

.card-group .card {
    border: none;
}

.card h4 {
    text-transform: uppercase;
    padding-top: 1rem;
    font-family: Baloo, serif;
    font-weight: 600;
    color: #212C33;
}

.card p {
    font-size: 1.1rem;
    color: #212C33;
}

.card-group {
    margin-top: 2vh;
}

/*TOP BANNER */
.hero-title {
    flex-grow: 1; /* Important : permet au titre de grandir */
    display: flex; /* Pour centrer le texte à l'intérieur du titre */
    justify-content: center; /* Centre verticalement le texte */
    align-items: center; /* Centre horizontalement le texte */
}

.top-hero-container {
    position: relative; /* Pour positionner top-hero-wrapper */
    display: flex;
    flex-direction: column; /* H1 en haut, wrapper en bas */

}

.top-hero-wrapper {
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: space-between; /* Répartir les éléments sur la largeur */
    position: relative; /* Permet de positionner le h2 absolument */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px 4px 0 0;
}

.hero-logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

}

.hero-logo img {
    border-radius: 2%;
}

.top-hero-wrapper h2 {
    position: absolute; /* On le sort du flux normal */
    left: 50%; /* Déplacer à 50% du conteneur */
    transform: translateX(-50%); /* Centrer parfaitement */
    margin: 0;
    width: 100%;
}

.social-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligner à droite */
    margin: 0;
    padding: 0;
}

.social-container li, .contact-container a {
    /*margin-bottom: 2vh; !* Espacement entre les icônes et liens *!*/
    list-style: none;
}

.contact-container {
    display: flex;
    padding-right: 1rem;
    line-height: 2rem;
}

.mail-phone-wrapper {
    display: flex;
    flex-direction: column; /* Eléments l'un au-dessus de l'autre */
    align-items: baseline;
    margin-left: 1rem;
}

.mail-phone-wrapper a {
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.cta-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
body > main > section.hero > div > a {
    position: absolute;
    left: 50%;
    translate: -50%;
}

.cta-button {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 4px #1B000A;
    background-color: #ca0d00;
    border: 1px solid #1b000a;
}

.cta-button:hover {
    box-shadow: 0 2px 3px #1B000A;
    color: white;
    background-color: green;
    border: 1px solid darkgreen;
}

/* HOME BANNER BOTTOM*/
.bottom-banner {
    overflow: hidden; /* Cache le dépassement */
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.banner-bottom {
    width: 100%;
}

.bottom-banner img {
    object-fit: contain;
}

/* SEPARATORS */
.separator-right, .separator-left, .separator-nav {
    position: relative;
    background-color: #fff;
    padding: 0 0;
}

.separator-right::after, .separator-left::after, .separator-nav:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
}

.separator-right::after, .separator-nav::after {
    border-radius: 0 0 10px 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: #ca0d00;
}

.separator-left::after {
    border-radius: 0 0 0 10px;
    clip-path: polygon(0 100%, 100% 0, 0 0);
    background-color: #212529;
}

.separator-nav::after {
    background-color: #212529;
}
