@font-face {
    font-family: 'Baloo';
    src: url('../fonts/Baloo/Baloo-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite_GB_S';
    src: url('../fonts/Playwrite_GB_S/PlaywriteGBS-VariableFont_wght.ttf');
    font-display: swap;
}

/* COMMUN */
.ratio-3x1 {
    height: auto;
    aspect-ratio: 3 / 1;
}

.ratio-3x2 {
    height: auto;
    aspect-ratio: 3 / 2;
}

.ratio-3x4 {
    height: auto;
    aspect-ratio: 3 / 4;
}

.ratio-1x1 {
    height: auto;
    aspect-ratio: 1 / 1;
}

.ratio-2x3 {
    height: auto;
    aspect-ratio: 2 / 3
}

html {
    padding: 1px 5px;
}

* {
    font-family: 'Playwrite_GB_S', sans-serif;
    font-variation-settings: 'wght' 300;
}

body {
    background: #FFFEFC;

}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-variation-settings: 'wght' 700;
}

h1 {
    text-shadow: 1px 1px 1px #000000 !important;
    /*animation: fadeInSlide 0.8s ease-out;*/
}

.btn {
    width: max-content;
    letter-spacing: 1px;
}

button i {
    color: #000000;
    font-size: 2rem;
}

h5 {
    font-weight: 900;
}

.bg-white-soft {
    background-color: rgba(245, 245, 245, 0.9);
    color: #444;
    padding: 0.5rem;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 4px;
    text-shadow: 0 1px 0 #ca0d00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-link, ul li a i, h1, .top-hero-wrapper h2 {
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

/* SEPARATORS */
.separator-right, .separator-left, .separator-nav {
    position: relative;
    background-color: #fff;
    padding: 0 0;
}

.separator-right::after, .separator-left::after, .separator-nav:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 30px;
}

.separator-right::after, .separator-nav::after {
    border-radius: 0 0 10px 0;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    background-color: #ca0d00;
}

.separator-left::after {
    border-radius: 0 0 0 10px;
    clip-path: polygon(0 100%, 100% 0, 0 0);
    background-color: #212529;
}

.separator-nav::after {
    background-color: #212529;
}

.section-title {
    position: relative;
    margin-bottom: 3%;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

/* SECTIONS */
.section-title h3, .section-title h4 {
    color: #ca0d00;
    text-shadow: 1px 1px 1px #737373;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.section-title h4 {
    margin-top: 2rem;
}

.section-title h3, .section-title h4 {
    text-align: center;
}


.section-title h4:before {
    background-color: #212C33;
    content: '';
    display: block;
    height: 3px;
    width: 50px;
}

.section-title h4:after {
    background-color: #212C33;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    width: 50px;
}

.section-title h3 span {
    color: #212529;
}

.section-wrapper {
    margin-top: 10vh;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 10px, /* Ombre supérieure adoucie */ rgba(0, 0, 0, 0.19) 0 10px 20px,
    rgba(0, 0, 0, 0.15) 0 -3px 6px, /* Ombre supérieure adoucie */ rgba(0, 0, 0, 0.23) 0 6px 6px;
    padding: 5vh 7vh;
}

.section-wrapper h3 {
    font-variation-settings: 'wght' 700;
    color: #ca0d00;
    text-shadow: 1px 1px 1px #212529;
}

/* HOME PAGE SERVICE SECTION */
.card:not(:first-child) {
    background: #FCFDFF;
    color: black;
    padding-left: 1rem;
}

.card-group .card {
    border: none;
}

/*@keyframes fadeInSlide {*/
/*    from {*/
/*        opacity: 0;*/
/*        transform: translateY(20px);*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: translateY(0);*/
/*    }*/
/*}*/

.card h4 {
    text-transform: uppercase;
    padding-top: 1rem;
    font-family: Baloo, serif;
    font-weight: 600;
    color: #212C33;
}

.card p {
    font-size: 1.1rem;
    color: #212C33;
}

.card-group {
    margin-top: 2vh;
}


/* NAVBAR */
.navbar-container {
    background-color: #212529;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='white'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
}

body header nav .navbar-dark {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 2px solid #ca0d00;
    border-bottom: 2px solid #ca0d00;
}

.nav-item {
    font-size: 1.4rem;
    font-variation-settings: 'wght' 500;
    text-align: center;
}

.nav-link {
    transition: 700ms ease;
}

.navbar-nav .nav-link.active {
    background-color: #C14444; /* Rouge brique doux */
    border-color: #A93939;
    border-radius: 4px;
    font-variation-settings: 'wght' 400;
}

#navbarSupportedContent .nav-link:hover:not(.active) { /* Style pour le hover sur un nav-link sauf si actif*/
    font-variation-settings: 'wght' 400;
    color: #6c9e6f;
    text-shadow: none;
}

/* HEADER */
header {
    position: sticky;
    top: 0; /* Important : définit à partir d'où la navbar devient sticky */
    z-index: 1000;
}


/*TOP BANNER */
.hero-title {
    flex-grow: 1; /* Important : permet au titre de grandir */
    display: flex; /* Pour centrer le texte à l'intérieur du titre */
    justify-content: center; /* Centre verticalement le texte */
    align-items: center; /* Centre horizontalement le texte */
}

.top-hero-container {
    position: relative; /* Pour positionner top-hero-wrapper */
    display: flex;
    flex-direction: column; /* H1 en haut, wrapper en bas */

}

.top-hero-wrapper {
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: space-between; /* Répartir les éléments sur la largeur */
    position: relative; /* Permet de positionner le h2 absolument */
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px 4px 0 0;
}

.hero-logo {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;

}

.hero-logo img {
    border-radius: 2%;
}

.top-hero-wrapper h2 {
    position: absolute; /* On le sort du flux normal */
    left: 50%; /* Déplacer à 50% du conteneur */
    transform: translateX(-50%); /* Centrer parfaitement */
    margin: 0;
}

.social-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Aligner à droite */
    margin: 0;
    padding: 0;
}

.social-container li, .contact-container a {
    /*margin-bottom: 2vh; !* Espacement entre les icônes et liens *!*/
    list-style: none;
}

.contact-container {
    display: flex;
    padding-right: 1rem;
    line-height: 2rem;
}

.mail-phone-wrapper {
    display: flex;
    flex-direction: column; /* Eléments l'un au-dessus de l'autre */
    align-items: baseline;
    margin-left: 1rem;
}

.mail-phone-wrapper a {
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

.cta-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTONS */
.cta-button {
    color: white;
    text-shadow: 2px 2px 2px #000000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 4px #1B000A;
    /*animation: scaleAnimation 1s ease-in-out 2s infinite alternate; !* Délai de 2s avant démarrage *!*/
}

.cta-container .cta-button:hover {
    box-shadow: 0 2px 3px #1B000A;
    color: white;
    background-color: green;
    border: 1px solid darkgreen;
}

.card-body .button, .btn.btn-sm.button.text-uppercase, .cta-container .cta-button {
    background-color: #ca0d00;
    border: 1px solid #1B000A;
    color: #FFFFFE;
}

.button i {
    color: #FFFFFE;
}

.card-body .button:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 3px #1B000A;
    color: white;
    background-color: #ca0d00;
    border: 1px solid #1B000A;
}

/*@keyframes scaleAnimation {*/
/*    from {*/
/*        h1 {*/
/*            text-shadow: 2px 2px 2px #000000 !important;*/
/*        }*/

/*        .nav-link, ul li a i, a, h1, h2 {*/
/*            color: white !important;*/
/*            text-shadow: 1px 1px 1px #000000;*/
/*        }*/

/*        transform: scale(1);*/
/*    }*/
/*    to {*/
/*        transform: scale(1.1);*/
/*    }*/
/*}*/

/* HOME BANNER BOTTOM*/
.bottom-banner {
    overflow: hidden; /* Cache le dépassement */
    background-color: rgba(0, 0, 0, 0.8) !important;
}

.banner-bottom {
    width: 100%;
}

.bottom-banner img {
    object-fit: contain;
}

/* SERVICE-PAGE */
.services-title {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-top: 2px solid #ca0d00;
    border-bottom: 2px solid #ca0d00;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #000000;
}

.btn.btn-sm.service-button, .btn.service-button {
    box-shadow: 0 2px 3px #1B000A;
    background-color: #ca0d00;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-variation-settings: 'wght' 400;
    letter-spacing: 1px;
    transition: transform 0.5s ease-in-out;
    align-self: flex-start;
}

.btn.btn-sm.service-button:hover, .btn.service-button:hover {
    transform: scale(1.1);
    color: white;
    background-color: #ca0d00;
}

.service-card-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Remplit toute la hauteur disponible */
}

.service-card-text {
    flex-grow: 1; /* Pousse le bouton vers le bas */
}

.accordion-button:not(.collapsed) {
    background-color: #d4edda;
}

/* ZONE INTERVENTION */
.brands-logo .card-img-top {
    height: 70px;
    object-fit: cover;
    width: 100%;
}

#map {
    height: 70vh;
}

#prestations-par-ville {
    margin-top: 10vh;
}

/* FOOTER */
footer {
    background-clip: content-box;
    border-radius: 0 0 4px 4px;
}

.footer-row {
    padding: 3rem 2rem 2rem 2rem;
}

/* RESPONSIVE */


/* Très petit mobile (ex: iPhone SE) */
@media (max-width: 480px) {
    *, .card p, a, p {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 0.9rem;
    }

    .separator-left, .separator-right {
        display: none;
    }

    .cta-container a {
        font-size: 0.7rem;
    }

    .footer-row {
        padding: 2rem 1rem 1rem 1rem;
        display: block;
        width: 62%;
        margin: 0 auto;
    }

    .section-wrapper {
        margin-top: 5vh;
        padding: 2vh 4vw;
    }

    .section-title {
        width: auto;
    }

    .section-title span, .experience-title span {
        font-size: 1.1rem;
    }

    .section-title h4 {
        font-size: 0.9rem;
        padding: 0.2rem 0;
        margin-top: 0;
    }

    .section-title h4::before, .section-title h4::after {
        height: 1px;
        width: 25px;
        margin: 0.3rem 0;
    }

    .card h4 {
        font-size: 1.2rem;
    }

    .button {
        font-size: 0.7rem;
    }

    body > footer > div > div:nth-child(1) > ul > li:nth-child(3) > i {
        font-size: 0.7rem;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 97.5%;

    }

    .navbar-toggler {
        margin: 0 auto;
    }

    .nav-link {
        font-size: 1rem;
    }

    .navbar-nav {
        padding-top: 1rem;
    }

    .top-hero-wrapper {
        margin-top: 3rem;
        padding: 0.8rem 0;
    }

    .contact-container {
        margin-top: 12%;
    }

    .hero-title {
        padding: 0.8rem !important;
        width: 100%;
        top: 40% !important;
    }

    body > main > section.hero > div > div > a {
        top: 85% !important;
    }

    .top-hero-wrapper h2 {
        top: 22%;
        left: 39%;
        transform: translateX(0);
    }

    #testimonialCarousel > div.carousel-inner > div.carousel-item.active > div > img {
        width: 50px;
    }

    .bg-white-soft {
        margin-top: 5rem;
    }

    #prestations-par-ville {
        margin-top: 10vh;
    }
}

/* ✅ Mobiles : max 768px */
@media (max-width: 768px) {
    /*.navbar-container {*/
    /*    width: 100%;*/
    /*}*/
}

/* ✅ Tablettes : max 1024px */
@media (max-width: 1024px) {

}


/* Grands écrans (ex: 4K) */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
    }
}
