@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'Baloo';
    src: url('../fonts/Baloo/Baloo-Regular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Playwrite_GB_S';
    src: url('../fonts/Playwrite_GB_S/PlaywriteGBS-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
}

/* COMMUN */

html {
    padding: 1px 5px;
}

* {
    font-family: 'Playwrite_GB_S', sans-serif;
    font-variation-settings: 'wght' 300;
}

body {
    background: #FFFEFC;

}

a {
    text-decoration: none;
    font-size: 1.1rem;
}

p {
    font-size: 1.1rem;
}

ul {
    list-style-type: none;
}

h1, h2 {
    font-variation-settings: 'wght' 700;
}

h1 {
    text-shadow: 1px 1px 1px #000000 !important;
    /*animation: fadeInSlide 0.8s ease-out;*/
}

.btn {
    width: max-content;
    letter-spacing: 1px;
}

button i {
    color: #000000;
    font-size: 2rem;
}

.btn.btn-sm.service-button, .btn.service-button, .btn.button.service-button, .btn.button {
    box-shadow: 0 2px 3px #1B000A;
    background-color: #ca0d00;
    color: white;
    text-shadow: 2px 2px 2px #000000;
    font-variation-settings: 'wght' 400;
    letter-spacing: 1px;
    transition: transform 0.5s ease-in-out;
    align-self: flex-start;
}

.btn.btn-sm.service-button:hover, .btn.service-button:hover, .btn.button.service-button:hover, .btn.button:hover {
    transform: scale(1.1);
    color: white;
    background-color: #ca0d00;
}

h5 {
    font-weight: 900;
}

.bg-white-soft {
    background-color: rgba(245, 245, 245, 0.9);
    color: #444;
    padding: 0.5rem;
    border-top: 2px solid #aaa;
    border-bottom: 2px solid #aaa;
    border-radius: 4px;
    text-shadow: 0 1px 0 #ca0d00;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.nav-link, ul li a i, h1, .top-hero-wrapper h2 {
    color: white;
    text-shadow: 2px 2px 2px #000000;
}

/* SECTIONS */
.section-title {
    position: relative;
    margin-bottom: 3%;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.section-title h3, .section-title h2, .section-title h4 {
    color: #ca0d00;
    text-shadow: 1px 1px 1px #737373;
    line-height: 1.5;
    margin-bottom: 1rem;
    text-align: center;
}

.section-title h4 {
    margin-top: 2rem;
}


.section-title h4:before {
    background-color: #212C33;
    content: '';
    display: block;
    height: 3px;
    width: 50px;
}

.section-title h4:after {
    background-color: #212C33;
    content: '';
    display: block;
    position: absolute;
    right: 0;
    height: 3px;
    width: 50px;
}

.section-title h2 span, .section-title h3 span {
    color: #212529;
}

.section-wrapper {
    margin-top: 10vh;
    border-radius: 10px 10px 0 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 -5px 10px, /* Ombre supérieure adoucie */ rgba(0, 0, 0, 0.19) 0 10px 20px,
    rgba(0, 0, 0, 0.15) 0 -3px 6px, /* Ombre supérieure adoucie */ rgba(0, 0, 0, 0.23) 0 6px 6px;
    padding: 5vh 7vh;
}

.section-wrapper h3 {
    font-variation-settings: 'wght' 700;
    color: #ca0d00;
    text-shadow: 1px 1px 1px #212529;
}

.card-body .button, .btn.btn-sm.button.text-uppercase, .cta-container .cta-button {
    background-color: #ca0d00;
    border: 1px solid #1B000A;
    color: #FFFFFE;
}

.button i {
    color: #FFFFFE;
}

.card-body .button:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 3px #1B000A;
    color: white;
    background-color: #ca0d00;
    border: 1px solid #1B000A;
}

/* NAVBAR */
.navbar-container {
    background-color: #212529;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='white'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    width: 20px;
    height: 20px;
}

body header nav .navbar-dark {
    padding-top: 0;
    padding-bottom: 0;
    border-top: 2px solid #ca0d00;
    border-bottom: 2px solid #ca0d00;
}

.nav-item {
    font-size: 1.4rem;
    font-variation-settings: 'wght' 500;
    text-align: center;
}

.nav-link {
    transition: 700ms ease;
}

.navbar-nav .nav-link.active {
    background-color: #C14444; /* Rouge brique doux */
    border-color: #A93939;
    border-radius: 4px;
    font-variation-settings: 'wght' 400;
}

#navbarSupportedContent .nav-link:hover:not(.active) { /* Style pour le hover sur un nav-link sauf si actif*/
    font-variation-settings: 'wght' 400;
    color: #6c9e6f;
    text-shadow: none;
}

/* FOOTER */
footer {
    background-clip: content-box;
    border-radius: 0 0 4px 4px;
}

.footer-row {
    padding: 3rem 2rem 2rem 2rem;
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 100%;
    overflow-x: hidden;
}

/* RESPONSIVE */


/* Très petit mobile (ex: iPhone SE) */
@media (max-width: 480px) {
    *, .card p, a {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.5rem !important;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
    }

    h5 {
        font-size: 1rem;
    }

    .separator-left, .separator-right {
        display: none;
    }

    .cta-container a {
        font-size: 1rem;
    }

    .footer-row {
        padding: 2rem 1rem 1rem 1rem;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .section-wrapper {
        margin-top: 5vh;
        padding: 2vh 4vw;
    }

    .section-title {
        width: auto;
    }

    .section-title span, .experience-title span {
        font-size: 1.1rem;
    }

    .section-title h4 {
        font-size: 1rem;
        padding: 0.2rem 0;
        margin-top: 0;
    }

    .section-title h4::before, .section-title h4::after {
        height: 1px;
        width: 25px;
        margin: 0.3rem 0;
    }

    .card h4 {
        font-size: 1.2rem;
    }

    .button {
        font-size: 0.7rem;
    }

    body > footer > div > div:nth-child(1) > ul > li:nth-child(3) > i {
        font-size: 0.7rem;
    }

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        padding-top: 0;
    }

    .navbar-toggler {
        margin: 0 auto;
    }

    .nav-link {
        font-size: 1rem;
    }

    .navbar-nav {
        padding-top: 1rem;
    }

    .top-hero-wrapper {
        padding: 0.8rem 0;
    }

    .contact-container {
        margin-top: 12%;
    }

    .hero-title {
        padding: 0.8rem !important;
        width: 100%;
        top: 40% !important;
    }

    body > main > section.hero > div > div > a {
        top: 85% !important;
    }

    .top-hero-wrapper h2 {
        top: 22%;
        left: 39%;
        transform: translateX(0);
    }

    #testimonialCarousel > div.carousel-inner > div.carousel-item.active > div > img {
        width: 50px;
    }

    #prestations-par-ville {
        margin-top: 10vh;
    }

    footer .row.footer-row div ul li {
        margin-bottom: 1rem;
    }

    .bottom-banner, .hero-logo {
        display: none;
    }

    .container-fluid.header-container .hero-title.text-center {
        font-size: 1rem !important;
    }

    .top-hero-container .top-hero-wrapper {
        justify-content: center;
    }

    /*page servies*/
    ul {
        padding: 0;
    }
    body > main > div > section.row > div > div > div > div.col-md-8 > div > div.d-flex.justify-content-around {
        flex-direction: column;
    }
    body > main > div > section.row > div > div > div > div.col-md-8 > div > div.d-flex.justify-content-around .service-button {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

/* ✅ Mobiles : max 768px */
@media (max-width: 768px) {
    /*.navbar-container {*/
    /*    width: 100%;*/
    /*}*/
}

/* ✅ Tablettes : max 1024px */
@media (max-width: 1024px) {

}


/* Grands écrans (ex: 4K) */
@media (min-width: 1440px) {
    body {
        font-size: 18px;
    }
}
