/* SERVICE-PAGE */
.services-title {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem;
    border-top: 2px solid #ca0d00;
    border-bottom: 2px solid #ca0d00;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #000000;
}

.service-card-body {
    display: flex;
    flex-direction: column;
    height: 100%; /* Remplit toute la hauteur disponible */
}

.service-card-text {
    flex-grow: 1; /* Pousse le bouton vers le bas */
}

.accordion-button:not(.collapsed) {
    background-color: #d4edda;
}
